<!DOCTYPE html>
<!--[if IEMobile 7]><html class="iem7" lang="en" dir="ltr"><![endif]-->
<!--[if lte IE 6]><html class="lt-ie9 lt-ie8 lt-ie7" lang="en" dir="ltr"><![endif]-->
<!--[if (IE 7)&(!IEMobile)]><html class="lt-ie9 lt-ie8" lang="en" dir="ltr"><![endif]-->
<!--[if IE 8]><html class="lt-ie9" lang="en" dir="ltr"><![endif]-->
<!--[if (gte IE 9)|(gt IEMobile 7)]><!--><html lang="en" dir="ltr"><!--<![endif]-->
  <head>
    <meta charset="utf-8" />
    <link rel="shortlink" href="node/9.html" />
    <link rel="shortcut icon" href="{{ root_path }}/files/favicon.ico" type="image/vnd.microsoft.icon" />
    <link rel="canonical" href="content/eclat.html" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="MobileOptimized" content="width" />
    <meta name="HandheldFriendly" content="true" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <title>{{ page.title }}</title>
    <link type="text/css" rel="stylesheet" href="{{ root_path }}/css/style-all.css" media="all" />
    <link type="text/css" rel="stylesheet" href="{{ root_path }}/css/style-screen.css" media="screen" />
    <link type="text/css" rel="stylesheet" href="{{ root_path }}/css/style-print.css" media="print" />
    <link type="text/css" rel="stylesheet" href="{{ root_path }}/css/style-only-screen.css" media="only screen" />
    <!--[if (lt IE 9)&(!IEMobile 7)]>
      <link type="text/css" rel="stylesheet" href="{{ root_path }}/css/style-ie.css" media="screen" />
    <![endif]-->
    <script src="{{ root_path }}/js/js_1.js"></script>
    <script src="{{ root_path }}/js/js_2.js"></script>
    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body class="html front not-logged-in one-sidebar sidebar-first page-node page-node-  node-type-page site-name-hidden site-name-wwweclatname color-scheme-custom sky bs-n bb-n mb-dd mbp-l rc-6 rct-6">
    <div id="skip-link">
      <a href="{{ root_path }}#main-content" class="element-invisible element-focusable">Skip to main content</a>
    </div>
    <div id="page" class="container page ssc-n ssw-n ssa-l sss-n btc-n btw-b bta-l bts-n ntc-n ntw-b nta-l nts-n ctc-n ctw-b cta-l cts-n ptc-n ptw-b pta-l pts-n">
      <header id="header" class="clearfix" role="banner">
        <!-- start: Branding -->
        <div id="branding" class="branding-elements clearfix">
          <div id="logo">
            <a href="{{site.baseurl}}" title="Home page" class="active"><img class="site-logo image-style-none" src="{{ root_path }}/files/eclatlogosmall_0.gif" alt="www.eclat.name" /></a>
          </div>
          <!-- start: Site name and Slogan hgroup -->
          <hgroup id="name-and-slogan" class="element-invisible" id="name-and-slogan">
            <h1 id="site-name" class="element-invisible" id="site-name"><a href="index.html" title="Home page" class="active">www.eclat.name</a></h1>
          </hgroup><!-- /end #name-and-slogan -->
        </div><!-- /end #branding -->
      </header>
      <div id="columns"class="no-menu-bar">
        <div class="columns-inner clearfix">
          <div id="content-column">
            <div class="content-inner">
              {{content}}
            </div>
          </div>
          <div class="region region-sidebar-first sidebar">
            <div class="region-inner clearfix"><div id="block-menu-menu-sidebar-left" class="block block-menu no-title odd first last block-count-2 block-region-sidebar-first block-menu-sidebar-left" role="navigation">
                <div class="block-inner clearfix">
                  <div class="block-content content no-title">
                    <ul class="menu clearfix">
                      <li class="first leaf active-trail menu-depth-1 menu-item-244"><a href="/content/eclat.html" class="active-trail active">Éclat</a></li>
                      <li class="leaf menu-depth-1 menu-item-242"><a href="/node/19.html">What he does…</a></li>
                      <li class="leaf menu-depth-1 menu-item-252"><a href="/node/5.html">What he does…</a></li>
                      <li class="leaf menu-depth-1 menu-item-256"><a href="/node/13.html">How he does it…</a></li>
                      <li class="leaf menu-depth-1 menu-item-260"><a href="/node/8.html">A few testimonials…</a></li>
                      <li class="leaf menu-depth-1 menu-item-246"><a href="/node/2.html">A few testimonials...</a></li>
                      <li class="leaf menu-depth-1 menu-item-258"><a href="/node/11.html">A few from 2008</a></li>
                      <li class="leaf menu-depth-1 menu-item-248"><a href="/node/18.html">A few from 2007</a></li>
                      <li class="leaf menu-depth-1 menu-item-249"><a href="/node/17.html">A few from 2006</a></li>
                      <li class="leaf menu-depth-1 menu-item-257"><a href="/node/12.html">A few from 2005</a></li>
                      <li class="leaf menu-depth-1 menu-item-259"><a href="/node/10.html">A few from 2004</a></li>
                      <li class="leaf menu-depth-1 menu-item-255"><a href="/node/14.html">A few from 2003</a></li>
                      <li class="leaf menu-depth-1 menu-item-261"><a href="/node/7.html">The story...</a></li>
                      <li class="leaf menu-depth-1 menu-item-254"><a href="/node/6.html">The story…</a></li>
                      <li class="leaf menu-depth-1 menu-item-245"><a href="/node/1.html">A couple of photos...</a></li>
                      <li class="leaf menu-depth-1 menu-item-250"><a href="/node/4.html">The benefits…</a></li>
                      <li class="last leaf menu-depth-1 menu-item-302"><a href="/contact.html" title="">Contact</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div><!-- //End #page, .container -->
  </body>
</html>
